<section>
    <div class="content-add-category">
        <div class="header-category">
            <div class="wrap">
                <h4>Categorias</h4>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar categoria">
                <i class="icon-search"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="form-group">
                      <label for="description">Descrição</label>
                      <textarea class="form-control" rows="4" id="description" formControlName="description"></textarea>
                    </div>
                    <div class="form-group category">
                        <label for="select-category">Categoria ascendente</label>
                        <select class="form-control" id="select-category" formControlName="parentCategory">
                          <option>Nenhuma</option>
                          <option *ngFor="let c of categories$ | async">{{c.name}}</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-add-category">Adicionar nova categoria</button>
                  </form>
            </div>
            <div class="col-lg-7">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="form-check">
                                        <input type="checkbox">
                                    </div>
                                </th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of categories$ | async">
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox">
                                    </div>
                                </td>
                                <td><a href="#">{{c.name}}</a></td>
                                <td>{{c.description}}</td>
                                <td>
                                    <a href="#"><i class="icon-edit" tooltip="Editar"></i></a>
                                    <a href="javascript:void(0)" (click)="delete(c)">
                                        <i class="icon-delete" tooltip="Excluir"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>