.section-about{
    padding: 60px 0 0;
    .wrapper-image{
        position: relative;
        img{
            width: 100%;
        }
        .text-bottom-image{
            background-color: #ffffff;
            box-shadow: 0px 10px 20px 0px rgba(61, 52, 47, 0.09);
            padding: 25px 50px 25px 40px;
            position: absolute;
            bottom: -55px;
            right: -60px;
            width: 85%;
            h5{
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #0f3232;
                &:before{
                    content: "";
                    width: 70px;
                    height: 3px;
                    background: #0f3232;
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .wrapper-texts{
        padding-left: 15%;
        padding-top: 65px;
        h3{
            font-family: "Poppins", sans-serif;
            font-size: 36px;
            font-weight: 600;
            color: #0f3232;
            margin-bottom: 20px;
        }
        p{
            font-family: 'Rubik', sans-serif;
            color: #0f3232
        }
    }

    .about-mvv{
        background-color: #f7f7f7;
        padding-bottom: 130px;
        .wrapper-missing{
            margin-top: 150px;
        }
        h4{
            color: #0f3232;
            font-family: "Poppins", sans-serif;
            font-size: 20px;
        }
        p{
            font-family: 'Rubik', sans-serif;
            color: #0f3232;
            font-size: 15px;
        }
    }   
}


/*======================= RESPONSIVE =======================*/
@media(max-width: 767px){
    .section-about{
        .wrapper-image{
            .text-bottom-image{
                bottom: -80px;
                left: 0;
                right: 0;
                margin: auto;
                width: 95%;
            }
        }
        .wrapper-texts{
            padding: 135px 0 50px 0;
            text-align: center;
        }
        .about-mvv{
            padding-bottom: 50px;
            text-align: center;
           .wrapper-missing{
               margin-top: 50px;
           }
           .wrapper-missing p, 
           .wrapper-vision p,
           .wrapper-value p{
               text-align: justify;
           }
       }
    }  
     
}