<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="footer-wrapper">
                    <h3>Logo Ipsum <span>Dolor Sit Amet</span></h3>

                    <p>Rua Bernardino Machado, Nº 455</p>
                    <p>Bairro centro</p>
                    <p>Rio de Janeiro/RJ</p>

                    <div class="mt-4">
                        <a class="nav-link" href=""><i class="fab fa-whatsapp"></i> (99) 98999-0000</a>
                        <a class="nav-link" href=""><i class="fas fa-envelope mr-1"></i> adv@advocacy.com.br</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-menu">
                    <h5>Menu</h5>

                    <ul class="navbar-nav ml-auto mr-3">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Áreas de atuação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-socials">
                    <h5>Redes sociais</h5>
                    <p>Siga-nos nas redes socias para ficar por dentro de tudo que acontece na área do direito</p>

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-telegram-plane"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="texts">
                <p>Copyright © 2021 Advocacy theme Lorem Ipsum - Todos os Direitos Reservados</p>
                <p>Desenvolvido por: <a href="http://evandrogouveia.epizy.com/" target="_blank">Evandro Gouveia</a></p>
            </div>
        </div>
    </div>
</footer>