<div class="content-add-user">
    <div class="modal-header">
        <h3>Novo usuário</h3>
        <i class='bx bx-x' (click)="bsModalRef.hide()"></i>
    </div>

    <div class="modal-body">
        <form [formGroup]="addUserForm" class="form-add-user" (ngSubmit)="addUser()">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="username">Nome de usuário</label>
                        <input type="text" class="form-control text-capitalize" id="username" formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control text-capitalize" id="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="function">Função</label>
                        <select class="form-control" id="function" formControlName="function">
                            <option value=""></option>
                            <option>Administrador</option>
                            <option>Usuário</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Sobrenome</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="{{type}}" class="form-control" id="password" formControlName="password">
                        <i (click)="showHidPassword()" class="icon-password"
                        [ngClass]="{'show-pass': (show == true)}"></i>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-end">
                <button type="submit" class="btn btn-save-form">Adicionar</button>
            </div>
        </form>
    </div>
</div>