<section>
  <div class="slider-home w-100">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Agora é fácil encontrar sua futura casa </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <div class="overlay">
          <img src="assets/img/banner-1.jpg">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Agora é fácil encontrar sua futura casa </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <div class="overlay">
          <img src="assets/img/banner-2.jpg">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Agora é fácil encontrar sua futura casa </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <div class="overlay">
          <img src="assets/img/banner-3.jpg">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section>
  <div class="section-row-filter">
    <div class="container">
      <div class="wrap-filter">
        <div class="row">
          <div class="col-lg-3 box-filter">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Cidade">
            </div>
          </div>
          <div class="col-lg-3 box-filter">
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Categoria</option>
                <option>Apartamentos</option>
                <option>Casas</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 box-filter">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Preço Min.">
            </div>
          </div>
          <div class="col-lg-2 box-filter">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" placeholder="Preço Max.">
            </div>
          </div>
          <div class="col-lg-2 box-filter">
            <button class="btn btn-filter">Buscar</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="f-service text-center">
            <h3>Melhores Imóveis</h3>
            <p>Junto com a gestão de propriedades, oferecemos também serviços imobiliários.</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="wrap-icons">
            <div class="icon-circle">
              <i class='bx bx-home-smile'></i>
            </div>
            <h4>Encontre sua casa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrap-icons">
            <div class="icon-circle">
              <i class='bx bx-chat'></i>
            </div>
            <h4>Apoio online</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrap-icons">
            <div class="icon-circle">
              <i class='bx bx-book'></i>
            </div>
            <h4>Suporte jurídico</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="wrap-icons">
            <div class="icon-circle">
              <i class='bx bx-key'></i>
            </div>
            <h4>Pegue a chave</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="section-row-properties-home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="t-professionals text-center">
            <h3>Imóveis Recentes</h3>
            <p>Encontre as últimas casas à venda, notícias sobre imóveis e dados do mercado imobiliário.</p>
          </div>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-01.jpg">
            <div class="property-ribon">
              <span>R$ 185.000,00</span>
            </div>
            <div class="texts">
              <h5>Park Avenue House</h5>
              <span><i class='bx bx-map'></i> Barra Funda - SP</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-02.jpg">
            <div class="property-ribon">
              <span>R$ 125.000,00</span>
            </div>
            <div class="texts">
              <h5>Family House Alice</h5>
              <span><i class='bx bx-map'></i> Jardim Vila Mariana - SP</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-03.jpg">
            <div class="property-ribon">
              <span>R$ 355.000,00</span>
            </div>
            <div class="texts">
              <h5>Affordable Urban House</h5>
              <span><i class='bx bx-map'></i> Centro - RJ</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-04.jpg">
            <div class="property-ribon">
              <span>R$ 100.000,00</span>
            </div>
            <div class="texts">
              <h5>Home in Metric Way</h5>
              <span><i class='bx bx-map'></i> São Lucas - BH</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-01.jpg">
            <div class="property-ribon">
              <span>R$ 185.000,00</span>
            </div>
            <div class="texts">
              <h5>Park Avenue House</h5>
              <span><i class='bx bx-map'></i> Barra Funda - SP</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-02.jpg">
            <div class="property-ribon">
              <span>R$ 125.000,00</span>
            </div>
            <div class="texts">
              <h5>Family House Alice</h5>
              <span><i class='bx bx-map'></i> Jardim Vila Mariana - SP</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-03.jpg">
            <div class="property-ribon">
              <span>R$ 355.000,00</span>
            </div>
            <div class="texts">
              <h5>Affordable Urban House</h5>
              <span><i class='bx bx-map'></i> Centro - RJ</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="#" class="box-property">
            <img src="assets/img/properties/single-property-04.jpg">
            <div class="property-ribon">
              <span>R$ 100.000,00</span>
            </div>
            <div class="texts">
              <h5>Home in Metric Way</h5>
              <span><i class='bx bx-map'></i> São Lucas - BH</span>
              <div class="property-listing">
                <div class="wrap-icon">
                  <i class='bx bx-hotel'></i>
                  <span>3</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-bath'></i>
                  <span>2</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-ruler'></i>
                  <span>240 m²</span>
                </div>
                <div class="wrap-icon">
                  <i class='bx bx-car'></i>
                  <span>1</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-12">
          <a class="nav-link view-all" href="#">Ver todas as propriedades</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-row-testimony">

    <div class="col-lg-12 text-center">
      <h3>Depoimentos</h3>
      <h2>Satisfação do nosso trabalho</h2>
    </div>

    <owl-carousel-o [options]="customOptionsTestimony">
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="wrap-user-testimony">
          <div class="overlay">
            <img src="assets/img/man.jpg">
          </div>
          <div>
            <h5>Jonh Doe</h5>
            <p>Advogado</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="wrap-user-testimony">
          <div class="overlay">
            <img src="assets/img/pretty.jpg">
          </div>
          <div>
            <h5>Nancy Freeman</h5>
            <p>Psicóloga</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="wrap-user-testimony">
          <div class="overlay">
            <img src="assets/img/man.jpg">
          </div>
          <div>
            <h5>Jonh Doe</h5>
            <p>Advogado</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</section>

<section>
  <div class="section-row-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="t-title text-center">
            <p>Notícia</p>
            <h3>Blog</h3>
          </div>
        </div>

        <div class="col-lg-4" *ngFor="let p of posts$ | async">
          <div class="card">
            <a routerLink="/blog/single-blog/{{p.id}}" class="box-image">
              <img class="card-img-top" src="{{p.highlightedImage}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{(p.titlePost.length > 55) ? (p.titlePost | slice:0:55) + ' ...' : (p.titlePost)}}
              </h5>
              <div class="date d-flex align-items-center">
                <i class='bx bx-calendar'></i>
                <span>
                  {{p.publicationDate.toDate() | date: 'dd'}} de
                  {{p.publicationDate.toDate() | date: 'MMMM'}} de
                  {{p.publicationDate.toDate() | date: 'YYYY'}}
                </span>
              </div>
              <p class="card-text">
                {{(p.descriptionPost.length > 200) ? (p.descriptionPost | slice:0:200) + ' ...' : (p.descriptionPost)}}
              </p>
              <a routerLink="/blog/single-blog/{{p.id}}" class="btn btn-readmore">
                Ver mais
                <i class='bx bx-chevron-right bx-sm'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>