<section>
  <div class="slider-home w-100">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Insuring Your Future From Today </h2>
            <p> From banking and insurance to wealth management and securities distribution,
              we dedicated financial services the teams serve all major sectors.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <img src="assets/img/slide-1.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Insuring Your Future From Today </h2>
            <p> From banking and insurance to wealth management and securities distribution,
              we dedicated financial services the teams serve all major sectors.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <img src="assets/img/slide-2.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <div class="container">
          <div class="caption-carousel">
            <h2>Insuring Your Future From Today </h2>
            <p> From banking and insurance to wealth management and securities distribution,
              we dedicated financial services the teams serve all major sectors.</p>
            <a href="#" class="nav-link">Ver mais</a>
          </div>
        </div>
        <img src="assets/img/slide-3.jpg">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section>
  <div class="section-row-services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 box-service">
          <i class='bx bx-buildings'></i>
          <h4>Prática Geral</h4>
          <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.</p>
          <a href="">Ver mais</a>
        </div>
        <div class="col-lg-4 box-service">
          <i class='bx bx-clinic'></i>
          <h4>Saúde Pública</h4>
          <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.</p>
          <a href="">Ver mais</a>
        </div>
        <div class="col-lg-4 box-service">
          <i class='bx bx-book-open'></i>
          <h4>Direito Empresarial</h4>
          <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.</p>
          <a href="">Ver mais</a>
        </div>

        <div class="col-lg-12">
          <div class="f-service text-center">
            <h3>Soluções jurídicas confiáveis e eficazes</h3>
            <p>Obtenha informações e conselhos gratuitos imediatos de advogados experientes.</p>
            <a href="">Ver todos os serviços</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-row-professionals">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="t-professionals text-center">
            <h3>Profissionais qualificados</h3>
            <p>Com conhecimento local especializado,
              nossos advogados fornecem consultoria e atendimento ao cliente de primeira linha.</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="box-member">
            <img src="assets/img/lawyer2.jpg">
            <div class="texts">
              <h5>Barbara May</h5>
              <span>Sócio-gerente</span>
              <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="box-member">
            <img src="assets/img/lawyer1.jpg">
            <div class="texts">
              <h5>Paul Steadman</h5>
              <span>Sócio-sênior</span>
              <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="box-member">
            <img src="assets/img/lawyer3.jpg">
            <div class="texts">
              <h5>Julie Sutton</h5>
              <span>Parceiro</span>
              <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="box-member">
            <img src="assets/img/lawyer4.jpg">
            <div class="texts">
              <h5>Emily Jones</h5>
              <span>Associado</span>
              <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-row-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="t-title text-center">
            <p>Estamos aqui para</p>
            <h3>Solucionar seus problemas</h3>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="t-about">
            <h3>Nosso objetivo é fornecer uma experiência superior ao cliente</h3>
            <p>Ex per aeque denique constituto, purto populo molestiae ei tem. Sea te quaeque nostrum maluisset,
              id persius appetere pro, mea harum ridens regione an. Ei quas nullam vivendo sit.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-img">
            <img src="assets/img/about.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-row-numbers">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-center">
          <h3>5</h3>
          <h4>Profissionais Qualificados</h4>
        </div>
        <div class="col-lg-3 text-center">
          <h3>140</h3>
          <h4>Clientes Felizes</h4>
        </div>
        <div class="col-lg-3 text-center">
          <h3>12</h3>
          <h4>Anos de experiência</h4>
        </div>
        <div class="col-lg-3 text-center">
          <h3>203</h3>
          <h4>Projetos Finalizados</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-row-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="t-title text-center">
            <p>Notícia</p>
            <h3>Últimas do nosso Blog</h3>
          </div>
        </div>

        <div class="col-lg-4" *ngFor="let p of posts$ | async">
          <div class="card">
            <a routerLink="/blog/single-blog/{{p.id}}" class="box-image">
              <img class="card-img-top" src="{{p.highlightedImage}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{(p.titlePost.length > 55) ? (p.titlePost | slice:0:55) + ' ...' : (p.titlePost)}}</h5>
              <div class="date d-flex align-items-center">
                <i class='bx bx-calendar'></i>
                <span>
                  {{p.publicationDate.toDate() | date: 'dd'}} de 
                  {{p.publicationDate.toDate() | date: 'MMMM'}} de 
                  {{p.publicationDate.toDate() | date: 'YYYY'}}
                </span>
              </div>
              <p class="card-text">
                {{(p.descriptionPost.length > 200) ? (p.descriptionPost | slice:0:200) + ' ...' : (p.descriptionPost)}}
              </p>
              <a routerLink="/blog/single-blog/{{p.id}}" class="btn btn-readmore">
                Ver mais 
                <i class='bx bx-chevron-right bx-sm'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>