.section-single-blog{
    margin: 60px 0;
    .col-lg-8{
        border-right: 1px solid #eeeeee;
        padding-right: 20px;
    }
    .block-single-post{
        margin-bottom: 60px;
        img{
            width: 100%;
        }
        .entry-header{
            margin-top: 20px;
            .entry-infos{
                margin-bottom: 25px;
                display: flex;
                .wrapper-info{
                    margin-right: 45px;
                }
                i{
                    margin-right: 5px;
                    color: #a38851;
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }
                span{
                    font-family: "Rubik", sans-serif; 
                    color: #b0b1b8;
                    font-size: 15px;
                }
            }
            a{
                text-decoration: none;
                h3{
                    color: #201B18;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 10px;
                    margin-top: 30px;
                    &:hover{
                        color: #5e524c;
                    }
                }
            }
            
            
        }
        .entry-footer{
            p{
                font-family: 'Rubik', sans-serif;
                color: #6c6c74;
                font-size: 15px;
            }
        }
    }
    .block-share{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 30px 0;
        p{
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
            color: #6c6c74;
            margin: 0;
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: #b1b1b1;
                border: 1px solid #b1b1b1;
                border-radius: 30px;
                margin-left: 15px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    color: #a38851;
                    border: 1px solid #a38851;
                }
                i{
                    font-size: 20px;
                }
            }
        }
    }

    .block-comments{
        .wrapper-form-contact{
            width: 100%;
            h3{
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 25px;
            }
            p{
                font-family: "Poppins", sans-serif;
                color: #6c6c74;
                font-size: 14px;
                margin-bottom: 30px;
            }
            label{
                font-family: 'Rubik', sans-serif;
                color: #6c6c74;
                font-weight: 600;
                font-size: 14px;
            }
            input{
                border-radius: 0;
                height: 45px;
                &:focus{
                    box-shadow: none;
                    border: 1px solid #a38851;
                    color: #a38851;
                }
            }
            textarea{
                border-radius: 0;
                resize: none;
                &:focus{
                    box-shadow: none;
                    border: 1px solid #a38851;
                    color: #a38851;
                }
            }
            button{
                background-color: #a38851;
                font-family: 'Rubik', sans-serif;
                margin-top: 10px;
                border-radius: 0;
                width: 200px;
                height: 45px;
                color: #ffffff;
                &:hover{
                    background-color: #806636;
                }
            }
        }
    }
    
}