<app-entry-banner-pages [title]="'Blog'"></app-entry-banner-pages>

<section>
    <div class="section-single-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="block-single-post">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="{{(post$ | async)?.highlightedImage}}">
                            </div>
                            <div class="col-lg-12">
                                <div class="entry-header">
                                    <div class="entry-infos">
                                        <div class="wrapper-info">
                                            <i class='bx bx-calendar'></i>
                                            <span>
                                                {{(post$ | async)?.publicationDate?.toDate() | date: 'dd'}} de 
                                                {{(post$ | async)?.publicationDate?.toDate() | date: 'MMMM'}} de 
                                                {{(post$ | async)?.publicationDate?.toDate() | date: 'YYYY'}}
                                            </span>
                                        </div>

                                        <div class="wrapper-info">
                                            <a href="#">
                                                <i class='bx bx-folder'></i>
                                                <span>{{(post$ | async)?.categories}}</span>
                                            </a>
                                        </div>

                                        <div class="wrapper-info">
                                            <i class='bx bx-comment-detail'></i>
                                            <span>0</span>
                                        </div>
                                    </div>

                                    <h3>{{(post$ | async)?.titlePost}}</h3>

                                </div>
                                <div class="entry-footer">
                                    <p>{{(post$ | async)?.descriptionPost}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-share">
                        <p>Clique para compartilhar</p>
                        <div class="icons">
                            <a href="https://web.whatsapp.com/send?text={{url}}" target="_blank">
                                <i class='bx bxl-whatsapp'></i>
                            </a>
                            <!--a href="#"><i class='bx bxl-facebook'></i></a-->
                            <!--a href="#"><i class='bx bxl-telegram'></i></a-->
                            <!--a href="#"><i class='bx bxl-instagram'></i></a-->
                        </div>
                    </div>

                    <div class="block-comments">
                        <div class="wrapper-form-contact">
                            <h3>Deixe um comentário</h3>
                            <p>Seu endereço de e-mail não será publicado. Os campos obrigatórios estão marcados com *
                            </p>
                            <form [formGroup]="addCommentsForm" (ngSubmit)="submit()">
                                <div class="form-group">
                                    <label for="message">Adicionar comentário</label>
                                    <textarea formControlName="comment" class="form-control" id="message" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Seu Nome*</label>
                                    <input formControlName="name" type="email" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail*</label>
                                    <input formControlName="email" type="text" class="form-control" id="email">
                                </div>

                                <button type="submit" class="btn">Publicar comentário</button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <app-aside-lateral></app-aside-lateral>
                </div>
            </div>
        </div>
    </div>
</section>