<app-entry-banner-pages [title]="'Imóveis'"></app-entry-banner-pages>

<section>
    <div class="section-row-properties">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="t-professionals text-center">
              <h3>Encontre os melhores imóveis à venda</h3>
            </div>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-01.jpg">
              <div class="property-ribon">
                <span>R$ 185.000,00</span>
              </div>
              <div class="texts">
                <h5>Park Avenue House</h5>
                <span><i class='bx bx-map'></i> Barra Funda - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-02.jpg">
              <div class="property-ribon">
                <span>R$ 125.000,00</span>
              </div>
              <div class="texts">
                <h5>Family House Alice</h5>
                <span><i class='bx bx-map'></i> Jardim Vila Mariana - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-03.jpg">
              <div class="property-ribon">
                <span>R$ 355.000,00</span>
              </div>
              <div class="texts">
                <h5>Affordable Urban House</h5>
                <span><i class='bx bx-map'></i> Centro - RJ</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-04.jpg">
              <div class="property-ribon">
                <span>R$ 100.000,00</span>
              </div>
              <div class="texts">
                <h5>Home in Metric Way</h5>
                <span><i class='bx bx-map'></i> São Lucas - BH</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-01.jpg">
              <div class="property-ribon">
                <span>R$ 185.000,00</span>
              </div>
              <div class="texts">
                <h5>Park Avenue House</h5>
                <span><i class='bx bx-map'></i> Barra Funda - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-02.jpg">
              <div class="property-ribon">
                <span>R$ 125.000,00</span>
              </div>
              <div class="texts">
                <h5>Family House Alice</h5>
                <span><i class='bx bx-map'></i> Jardim Vila Mariana - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-03.jpg">
              <div class="property-ribon">
                <span>R$ 355.000,00</span>
              </div>
              <div class="texts">
                <h5>Affordable Urban House</h5>
                <span><i class='bx bx-map'></i> Centro - RJ</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-04.jpg">
              <div class="property-ribon">
                <span>R$ 100.000,00</span>
              </div>
              <div class="texts">
                <h5>Home in Metric Way</h5>
                <span><i class='bx bx-map'></i> São Lucas - BH</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-01.jpg">
              <div class="property-ribon">
                <span>R$ 185.000,00</span>
              </div>
              <div class="texts">
                <h5>Park Avenue House</h5>
                <span><i class='bx bx-map'></i> Barra Funda - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-02.jpg">
              <div class="property-ribon">
                <span>R$ 125.000,00</span>
              </div>
              <div class="texts">
                <h5>Family House Alice</h5>
                <span><i class='bx bx-map'></i> Jardim Vila Mariana - SP</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-03.jpg">
              <div class="property-ribon">
                <span>R$ 355.000,00</span>
              </div>
              <div class="texts">
                <h5>Affordable Urban House</h5>
                <span><i class='bx bx-map'></i> Centro - RJ</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="col-lg-3">
            <a href="#" class="box-property">
              <img src="assets/img/properties/single-property-04.jpg">
              <div class="property-ribon">
                <span>R$ 100.000,00</span>
              </div>
              <div class="texts">
                <h5>Home in Metric Way</h5>
                <span><i class='bx bx-map'></i> São Lucas - BH</span>
                <div class="property-listing">
                  <div class="wrap-icon">
                    <i class='bx bx-hotel'></i>
                    <span>3</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-bath'></i>
                    <span>2</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-ruler'></i>
                    <span>240 m²</span>
                  </div>
                  <div class="wrap-icon">
                    <i class='bx bx-car'></i>
                    <span>1</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-12">
            <a class="nav-link view-all" href="#">Ver mais propriedades</a>
          </div>
        </div>
      </div>
    </div>
  </section>