.close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
h5{
    color: #575757;
}
p{
    margin-bottom: 20px;
    color: #575757;
}
form{
    label{
        font-family: 'Rubik', sans-serif;
        color: #6c6c74;
        font-weight: 600;
        font-size: 14px;
    }
    input{
        border-radius: 0;
        height: 45px;
        &:focus{
            box-shadow: none;
            border: 1px solid var(--bg-primary-color);
            color: var(--bg-primary-color);
        }
    }
    textarea{
        border-radius: 0;
        resize: none;
        &:focus{
            box-shadow: none;
            border: 1px solid var(--bg-primary-color);
            color: var(--bg-primary-color);
        }
    }
}
.btn-not-confirm{
    border: 1px solid #dddddd;
    background-color: var(--bg-white-color);
    box-shadow: none;
    outline: none;
    margin-right: 20px;
    color: #777;
    width: 85px;
    &:hover{
        background-color: #f8f8f8;
    }
}
.btn-confirm{
    background-color: var(--bg-primary-color);
    box-shadow: none;
    outline: none;
    width: 125px;
    color: var(--bg-white-color);
    &:hover{
        background-color: var(--bg-primary-color-hover);
    }
}