<app-entry-banner-pages [title]="'Áreas de atuação'"></app-entry-banner-pages>

<section>
    <div class="section-practice-areas">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/image-areas-1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Contratos</h5>
                            <p class="card-text">Direito Civil / Imigração</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/blog1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Código criminal</h5>
                            <p class="card-text">Lei Criminal / Negócios</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/image-areas-7.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Transações</h5>
                            <p class="card-text">Lei do Almirantado / Falência</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/image-areas-3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Representação</h5>
                            <p class="card-text">Lei Criminal / Negócios</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/image-areas-6.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Setores Privado</h5>
                            <p class="card-text">Negócios / Imigração</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/slide-1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Lesão Pessoal</h5>
                            <p class="card-text">Lei do Almirantado / Lei criminal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/about.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Saúde Pública</h5>
                            <p class="card-text">Lei do Almirantado | Falência</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="assets/img/image-areas-5.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Direitos Autorais</h5>
                            <p class="card-text">Lei do Almirantado / Lei criminal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>