<section>
    <div class="content-edit-header">
        <div class="header-title">
            <div class="wrap">
                <h4>Editar Header</h4>
            </div>
        </div>

        <div class="card edit-topbar">
            <h5>Topbar</h5>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="title-card">
                            <p>Contatos</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email" placeholder="ex.: email@email.com">
                                </div>
                                <div class="form-group">
                                    <label for="address">Endereço</label>
                                    <input type="text" class="form-control" id="address" placeholder="ex.: Avenida das amérias, 1500">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="title-card">
                            <p>Redes sociais</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="facebook"><i class="fab fa-facebook-f"></i> Facebook</label>
                                    <input type="text" class="form-control" id="facebook" placeholder="Insira o link">
                                </div>
                                <div class="form-group">
                                    <label for="twitter">Twitter</label>
                                    <input type="text" class="form-control" id="twitter" placeholder="Insira o link">
                                </div>
                                <div class="form-group">
                                    <label for="telegram">Telegram</label>
                                    <input type="text" class="form-control" id="telegram" placeholder="Insira o link">
                                </div>
                                <div class="form-group">
                                    <label for="instagram">Instagram</label>
                                    <input type="text" class="form-control" id="instagram" placeholder="Insira o link">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>