<div class="section-row-single-properties">
    <div class="container-fluid">
        <div class="row">
            <div class="gallerize-example">
                <div class="wrap-gallery" gallerize>
                    <section class="grid grid-row-2">
                        <div *ngFor="let img of imageData; let i = index" class="item item-{{i+1}} ">
                            <img class="img-grid" [src]="img.srcUrl">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="top-infos">
            <div class="row">
                <div class="col-lg-8">
                    <h2>{{(propertyId$ | async)?.titleProperty}}</h2>
                    <p>
                        <i class="bx bx-map"></i> 
                        {{(propertyId$ | async)?.cityProperty}} - {{(propertyId$ | async)?.ufProperty}}
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="custom-price">R$ {{(propertyId$ | async)?.priceProperty}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="content-details">
                    <h2>Detalhes</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="items">
                                <i class='bx bx-bookmark'></i>
                                <p>ID da propriedade</p>
                                <span>P5845</span>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="items">
                                <i class="bx bx-hotel"></i>
                                <p>Quartos</p>
                                <span>{{(propertyId$ | async)?.qtdBedrooms}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="items">
                                <i class="bx bx-bath"></i>
                                <p>Banheiro</p>
                                <span>{{(propertyId$ | async)?.qtdBathrooms}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="items">
                                <i class="bx bx-car"></i>
                                <p>Garagem</p>
                                <span>{{(propertyId$ | async)?.qtdGarages}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="items">
                                <i class="bx bx-ruler"></i>
                                <p>Área total</p>
                                <span>{{(propertyId$ | async)?.areaProperty}} m²</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="items">
                                <i class='bx bx-dollar-circle'></i>
                                <p>Preço</p>
                                <span>R$ {{(propertyId$ | async)?.priceProperty}} </span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="content-description">
                    <h2>Descrição</h2>
                    <p>Enjoy the cool serenity of Deering Bay all day from this spectacular North or South, three
                        bedroom, three
                        and a half bath Milano unit with 10ft ceilings which provide light and airy views of the golf
                        course and
                        pool. Oversized open balconies provide luxurious entertainment spaces. Spacious flow-through
                        floor plan
                        with lavish master bedroom suite with his and her walk-in closets,
                        gourmet cook’s kitchen with granite counters and top of the line Thermador and Sub Zero
                        appliances.</p>

                    <p>Enjoy the cool serenity of Deering Bay all day from this spectacular North or South, three
                        bedroom, three
                        and a half bath Milano unit with 10ft ceilings which provide light and airy views of the golf
                        course and
                        pool. Oversized open balconies provide luxurious entertainment spaces. Spacious flow-through
                        floor plan
                        with lavish master bedroom suite with his and her walk-in closets,
                        gourmet cook’s kitchen with granite counters and top of the line Thermador and Sub Zero
                        appliances.</p>
                </div>
                <div class="content-description">
                    <h2>Plantas</h2>
                    <gallery gallerize="gallery-plans" [items]="itemsPlans"></gallery>
                </div>
                <div class="content-description">
                    <h2>Vídeo</h2>
                    <video width="100%" height="100%" controls>
                        <source src="assets/img/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="content-description">
                    <h2>Localização</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15345.835038053923!2d-50.15164636244047!3d-15.937401523398883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9367790ac413c979%3A0xbeb1308cbb66ab22!2zR29pw6FzLCBHTywgNzY2MDAtMDAw!5e0!3m2!1spt-BR!2sbr!4v1648675745469!5m2!1spt-BR!2sbr"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="collumn-right">
                    <h2>Entrar em contato</h2>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Mensagem"></textarea>
                        </div>
                        <button type="submit" class="btn w-100">Enviar</button>
                    </form>
                </div>

                <div class="collumn-right">
                    <h2>Agendar visita</h2>

                    <form>
                        <div class="form-group">
                            <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefone">
                        </div>
                        <button type="submit" class="btn w-100">Agende uma visita</button>
                    </form>
                </div>

                <div class="collumn-right">
                    <h2>Propriedades recentes</h2>
                    <div class="entry-recent-properties">
                        <ul class="list-group list-group-flush">
                            <ng-container *ngFor="let p of properties$ | async; let i = index">
                                <li class="list-group-item" *ngIf="i < 5">
                                    <a href="javascript:void(0);" class="d-flex align-items-center">
                                        <img src="{{p.highlightedImageProperty}}">
                                        <p>
                                            {{(p.titleProperty.length > 25) ? (p.titleProperty | slice:0:25) + ' ...' :
                                            (p.titleProperty)}}<br>
                                            <span>R$ {{p.priceProperty}}</span>
                                        </p>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>

                <div class="collumn-right">
                    <h2>Compartilhar</h2>

                    <div class="icons">
                        <a href="https://web.whatsapp.com/send?text={{url}}" target="_blank">
                            <i class='bx bxl-whatsapp'></i>
                        </a>
                        <a href="https://www.facebook.com/sharer.php?href={{url}}" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                        <a href="mailto:real-estate@email.com" target="_blank">
                            <i class='bx bx-envelope'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>