<section>
    <div class="content-add-posts">
        <div class="header-post">
            <h4>Posts</h4>
            <a class="nav-link" href="#">Adicionar novo</a>
            
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        </div>
                    </th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Comentários</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        </div>
                    </th>
                    <td>Olá, mundo!</td>
                    <td>Admin</td>
                    <td>Sem categoria</td>
                    <td>3</td>
                    <td>Publicado 16/08/2020 às 22:38</td>
                    <td>
                        <a href="#"><i class="icon-edit"></i></a>
                        <a href="#"><i class="icon-delete"></i></a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        
    </div>
</section>
