header{
    .topbar{
        padding: 10px 0px;
        border-bottom: 1px solid #ededed;
        i{

        }
        p{
            margin: 0;
            color: #201B18;
            font-size: 14px;
        }
        p + p{
            margin-left: 50px;
        }
        .section-left{
            i{
                font-size: 18px;
                color: #a38851;
                line-height: 0;
                position: relative;
                top: 3px;
            }
        }
        .socials{
            .nav-link{
                padding: 0;
            }
            i{
                color: #5e524c;
                margin-left: 20px;
                line-height: 0;
                font-size: 22px;
                position: relative;
                top: 4px;
                &:hover{
                    color: #a38851;
                }
            }
        }
    }
    .navbar{
        background-color: #ffffff;
        box-shadow: 0px 5px 7px -5px #dddddd;
        .navbar-brand{
            width: 140px;
            height: 90px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .nav-item{
            padding: 0 5px;
            .nav-link{
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: #5e524c;
                &:hover, &.active{
                    color: #201B18;
                    &:after{
                        content: "";
                        width: 100%;
                        height: 3px;
                        background: #201B18;
                        position: relative;
                        display: block;
                        top: 2px;
                    }
                }
                
            }
        }
        .form-inline{
            i{
                font-size: 25px;
            }
        }
        .whats-contact{
            padding:0px 0px 0px 25px;
            margin-left: 25px;
            border-left: 1px solid #ededed;
            i{
                font-size: 38px;
                color: #201B18;
            }
            .number{
                margin-left: 10px;
                p{
                    margin: 0;
                    color: #5e524c;
                    font-size: 16px;
                    font-weight: 400;
                }
                h5{
                    font-weight: 600;
                    color: #201B18;
                    font-size: 20px;
                }
            }
        }
    }
    
}

/*======================= RESPONSIVE =======================*/
@media(max-width: 991px){
    #wrapper {
        overflow-x: hidden;
        position: absolute;
        top:0;
        left: 0;
     }
    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: 0;
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: #ffffff;
      width: 290px;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
      .bx{
        &.bx-x{
            position: absolute;
            top: 16px;
            right: 15px;
            color: rgba(0,0,0,.5);
            cursor: pointer;
        }
      } 
      .navbar-nav{
          margin: 70px 15px 80px !important;
          .nav-item{
              .nav-link{
                  font-size: 23px;
                  padding-left: 15px;
                  position: relative;
                  text-align: center;
                  &:hover, &.active{
                      background: #f0dcb4;
                      &:after{
                          display: none;
                      }
                  }
              }
          }
      }
      .whats-contact{
          flex-direction: column;
          margin: 0;
          padding-left: 0;
          text-align: center;
      }
      .socials{
          margin: 30px auto 0;
          width: 50%;
          justify-content: center !important;
          i{
              color: #5e524c;
              line-height: 0;
              font-size: 30px;
              position: relative;
              top: 4px;
          }
      }
    }
    #wrapper{
        &.toggled{
            #sidebar-wrapper {
                margin-left: -27rem;
            }
        }
    }

}
@media(max-width: 767px){
    .topbar{
        display: none;
    }
}
@media(max-width: 575.98px){
    header{
        .navbar{
            .navbar-brand{
                width: 75px;
                height: 55px;
            }
            .navbar-toggler{
                border: none;
            }
        }
    }
    .section-row-services{
        .box-service{
            text-align: center;
        }
    } 
    #sidebar-wrapper {
        width: 100%;
    }
}