<section>
    <div class="content-list-posts">
        <div class="header-post">
            <div class="wrap">
              <h4>Imóveis</h4>
              <a class="nav-link" routerLink="/private/admin/add-property">Adicionar novo</a>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar imóveis" [(ngModel)]="term">
              <i class="icon-search"></i>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Miniatura</th>
                    <th scope="col">Título</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Data Publicação</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of (properties$ | async) | filter:term">
                    <td>
                      <a routerLink="/private/admin/edit-posts/{{p.ID}}">
                        <img src="{{p.imagemDestacada}}">
                      </a>
                    </td>
                    <td><a routerLink="/private/admin/edit-posts/{{p.ID}}">{{(p.titulo.length > 40) ? (p.titulo | slice:0:40) + ' ...' : (p.titulo)}}</a></td>
                    <td>
                     {{ getJsonFromObj(p.categorias) }}
                    </td>
                    <td>{{p.preco | currency: 'BRL'}}</td>
                    <td>{{p.dataPublicacao | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <a routerLink="/private/admin/edit-property/{{p.ID}}"><i class="icon-edit" tooltip="Editar"></i></a>
                        <a href="javascript:void(0)" (click)="openModalConfirmDelete(p)"><i class="icon-delete" tooltip="Excluir"></i></a>
                    </td>
                  </tr>
                  <tr *ngIf="(properties$ | async)?.length === 0">
                    <td class="empty-user" colspan="6">
                      <p>Nenhuma propriedade cadastrada</p>
                    </td>
                  </tr>
                </tbody>
               
              </table>
        </div>
        
    </div>
</section>


