.entry-banner{
    background: url('/assets/img/entry-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(7, 29, 29, 0.7);
        top: 0;
    }
    .texts{
        height: 200px;
        h2{
            font-family: "Rubik", sans-serif;
            color: #ffffff;
            z-index: 5;
        }
    }
}

@media(max-width: 767px){
    .entry-banner{
        height: 125px;
        .texts{
            height: 130px;
        }
    }
}