<app-entry-banner-pages [title]="'Blog'"></app-entry-banner-pages>

<section>
    <div class="section-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a routerLink="/blog/single-blog">
                                    <img src="assets/img/image-areas-2.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a routerLink="/blog/single-blog">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>3 de fevereiro de 2016</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <img src="assets/img/image-areas-3.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a href="#">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>30 de outubro de 2019</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <img src="assets/img/image-areas-4.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a href="#">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>23 de dexembro de 2016</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <img src="assets/img/image-areas-5.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a href="#">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>3 de fevereiro de 2021</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <img src="assets/img/image-areas-6.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a href="#">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>18 de fevereiro de 2019</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex..</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="block-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <img src="assets/img/image-areas-7.jpg">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="entry-header">
                                    <a href="#">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                    </a>
                                    <div class="entry-date">
                                        <i class='bx bx-calendar'></i>
                                        <span>3 de fevereiro de 2016</span>
                                    </div>
                                </div>
                                <div class="entry-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <app-aside-lateral></app-aside-lateral>
                </div>
                
            </div>
        </div>
    </div>
</section>