<section>
    <div class="content-add-property">
        <div class="header-property">
            <div class="wrap">
                <h4>{{!this.isAddMode ? 'Editar Imóvel' : 'Adicionar Imóvel'}}</h4>
            </div>
        </div>

        <form class="form-add-property" [formGroup]="addPropertyForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-9">

                    <div class="form-group">
                        <label for="name">Título</label>
                        <input type="text" class="form-control" id="name" formControlName="titleProperty">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <angular-editor formControlName="descriptionProperty" [config]="config"></angular-editor>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Preço</label>
                                <input type="text" class="form-control" id="price" formControlName="priceProperty">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Qtd de quartos</label>
                                <input type="text" class="form-control" id="qtdBedrooms" formControlName="qtdBedrooms">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Qtd de banheiros</label>
                                <input type="text" class="form-control" id="qtdBathrooms"
                                    formControlName="qtdBathrooms">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="name">Vagas para carro</label>
                                <input type="text" class="form-control" id="qtdGarages" formControlName="qtdGarages">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="name">Área do imóvel (m²)</label>
                                <input type="text" class="form-control" id="areaProperty"
                                    formControlName="areaProperty">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label>Localização</label>
                            <input type="text" class="form-control" (change)="$event.preventDefault()"
                                autocorrect="off" autocapitalize="off"
                                spellcheck="off" type="text" #search>
                        </div>

                        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>

                        <div class="text-address">
                            <label>Endereço</label>
                            <input type="text" class="form-control" disabled value="{{address}}">
                        </div>
                    </div>

                    <p *ngIf="!this.isAddMode" class="published-info">Publicado em:
                        <strong>
                            {{publicationDateProperty?.toDate() | date: 'dd'}} de
                            {{publicationDateProperty?.toDate() | date: 'MMMM'}} de
                            {{publicationDateProperty?.toDate() | date: 'YYYY'}} às
                            {{publicationDateProperty?.toDate() | date: 'HH:mm'}}
                        </strong>
                    </p>
                </div>
                <div class="col-lg-3">

                    <button type="submit" class="btn btn-save-form">
                        <img *ngIf="loading" class="loading" src="assets/img/icons/loading-button-white.svg">
                        {{!this.isAddMode && !loading ? 'Atualizar' : loading ? 'Aguarde...' : 'Publicar' }}
                    </button>

                    <div class="card">
                        <div class="title-card">
                            <p>Adicionar imagem principal</p>
                        </div>
                        <div class="card-body card-image">
                            <div class="avatar">
                                <img class="img-upload" [src]="highlightedImageProperty" width="100%" height="200px"
                                    alt="imagem-destacada" (click)="fileUploader.click()">
                                <input type="file" #fileUploader accept="image/*" class="form-control" id="avatar"
                                    aria-describedby="nome" placeholder="imagem" (change)="showPreviewImage($event)"
                                    hidden>
                            </div>
                            <ng-container>
                                <p>Clique sobre a imagem para substituí-la.</p>
                                <!--a class="nav-link" href="#"><i class="icon-delete"></i> Remover
                                    imagem principal</a-->
                            </ng-container>
                        </div>
                    </div>

                    <!--div class="card">
                        <div class="title-card">
                            <p>Categorias</p>
                        </div>
                        <div class="card-body card-category-check">
                            <div class="form-check" *ngFor="let c of categoriesAll$ | async; let i = index">
                                <input #inputCategories type="checkbox" class="form-check-input" id="exampleCheck{{i}}" value="{{c.name}}" (click)="checkCategory($event)">
                                <label class="form-check-label" for="exampleCheck{{i}}">{{c.name}}</label>
                            </div>
                            <hr>
                            <a class="nav-link" routerLink="/private/admin/add-category">+ Adicionar nova categoria</a>
                        </div>
                    </div-->
                </div>
            </div>
        </form>
    </div>
</section>