<section>
    <div class="content-profile">
        <div class="header-profile">
            <div class="wrap">
                <h4>Perfil</h4>
            </div>
        </div>

        <form class="form-profile" [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
            <div class="avatar" (click)="fileUploader.click()">
                <img class="img-upload" [src]="imagemSrc" width="200px" height="200px" alt="imagem-upload">
                <input type="file" #fileUploader accept="image/*" class="form-control" id="avatar"
                    aria-describedby="nome" placeholder="imagem" (change)="showPreviewImage($event)" hidden>

                <div class="box-icon-picture">
                    <img src="assets/img/icons/camera.svg" alt="icone-camera">
                    <p>editar foto</p>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" formControlName="username" class="form-control" id="username" disabled>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="name">Nome</label>
                    <input type="text" formControlName="name" class="form-control" id="name">
                </div>
                <div class="col form-group">
                    <label for="lastname">Sobrenome</label>
                    <input type="text" formControlName="lastname"  class="form-control" id="lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" formControlName="email" class="form-control" id="email">
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label for="exampleFormControlSelect1">Função</label>
                    <select class="form-control" formControlName="function" id="exampleFormControlSelect1">
                        <option value="" disabled>Selecionar função</option>
                        <option *ngFor="let f of functions" [ngValue]="f" >{{f}}</option>
                        
                    </select>
                </div>
            </div>
            <button type="submit" class="btn mb-5">Salvar</button>
        </form>
        <hr>
        <div class="header-profile mt-5">
            <div class="wrap">
                <h4>Alterar senha</h4>
            </div>
        </div>
        
        <form class="form-password">
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label for="usernamename">Nova senha</label>
                        <input type="{{type}}" class="form-control" id="password">
                        <i (click)="showHidPassword()" class="icon-password"
                        [ngClass]="{'show-pass': (show == true)}"></i>
                    </div>
                </div>
                <div class="col-lg-3">          
                    <button type="submit" class="btn">Salvar</button>
                </div>
            </div>
        </form>

    </div>
</section>