<section>
    <div class="content-list-posts">
        <div class="header-post">
            <div class="wrap">
              <h4>Posts</h4>
              <a class="nav-link" routerLink="/private/admin/add-posts">Adicionar novo</a>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar posts">
              <i class="icon-search"></i>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                        <div class="form-check">
                            <input type="checkbox">
                        </div>
                    </th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Comentários</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of posts$ | async">
                    <td>
                        <div class="form-check">
                            <input type="checkbox">
                        </div>
                    </td>
                    <td><a href="#">{{(p.titlePost.length > 40) ? (p.titlePost | slice:0:40) + ' ...' : (p.titlePost)}}</a></td>
                    <td>{{p.author}}</td>
                    <td>{{p.categories.join(', ')}}</td>
                    <td><i class="icon-message"><span>12</span></i></td>
                    <td>Publicado {{p.publicationDate.toDate() | date: 'dd/MM/yyyy'}} às {{p.publicationDate.toDate() | date: 'HH:mm'}}</td>
                    <td>
                        <a href="#"><i class="icon-edit" tooltip="Editar"></i></a>
                        <a href="javascript:void(0)" (click)="delete(p)"><i class="icon-delete" tooltip="Excluir"></i></a>
                    </td>
                  </tr>
                </tbody>
                
              </table>
        </div>
        
    </div>
</section>

