<div class="aside-lateral">
    <div class="search-blog">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn" type="button"><i class="bx bx-search-alt-2"></i></button>
            </div>
          </div>
    </div>

    <div class="entry-categoryes mt-5">
        <h3>Categorias</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#">Cras justo odio</a>
            </li>
            <li class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
            </li>
            <li class="list-group-item">
                <a href="#">Morbi leo risus</a>
            </li>
            <li class="list-group-item">
                <a href="#">Porta ac consectetur ac</a>
            </li>
            <li class="list-group-item">
                <a href="#">Vestibulum at eros</a>
            </li>
        </ul>
    </div>

    <div class="entry-recent-posts">
        <h3>Posts recentes</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#" class="d-flex align-items-center">
                    <img src="assets/img/image-areas-7.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                    sed do eiusmod tempor incididunt...
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="d-flex align-items-center">
                    <img src="assets/img/image-areas-2.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    sed do eiusmod tempor incididunt...
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="d-flex align-items-center">
                    <img src="assets/img/image-areas-5.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    sed do eiusmod tempor incididunt...
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="d-flex align-items-center">
                    <img src="assets/img/image-areas-3.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    sed do eiusmod tempor incididunt...
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="d-flex align-items-center">
                    <img src="assets/img/image-areas-4.jpg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    sed do eiusmod tempor incididunt...
                </a>
            </li>
        </ul>
    </div>
</div>
