<section>
    <div class="content-users">
        <div class="header-users">
            <div class="wrap">
              <h4>Usuários</h4>
              <a class="nav-link" href="#">Adicionar novo</a>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar usuários">
              <i class="icon-search"></i>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                        <div class="form-check">
                            <input type="checkbox">
                        </div>
                    </th>
                    <th scope="col">Nome de usuário</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Função</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox">
                        </div>
                    </td>
                    <td>
                        <div class="wrap-user">
                            <i class="icon-person"></i>
                            <div>
                                <p>Admin</p>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>email@email.com</td>
                    <td>Administrador</td>
                    <td>
                        <a href="#"><i class="icon-edit" tooltip="Editar"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox">
                        </div>
                    </td>
                    <td>
                        <div class="wrap-user">
                            <i class="icon-person"></i>
                            <div>
                                <p>Evandro</p>
                            </div>
                        </div>
                    </td>
                    <td>Evandro gouveia</td>
                    <td>vando_gouveia@email.com</td>
                    <td>Editor</td>
                    <td>
                        <a href="#"><i class="icon-edit" tooltip="Editar"></i></a>
                        <a href="#"><i class="icon-delete" tooltip="Excluir"></i></a>
                    </td>
                  </tr>
                  
                </tbody>
                
              </table>
        </div>
        
    </div>
</section>
