<section>
    <div class="content-edit-areas">
        <div class="header-title">
            <div class="wrap">
                <h4>Adicionar / Editar Contato</h4>
            </div>
        </div>

        <div class="card card-edit">
            <form class="form-areas">
                <h5>Adicionar campos do formulário</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label for="label">Label</label>
                                        <input type="text" class="form-control" id="label">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="link">Tipo de campo</label>
                                        <select class="form-control" id="exampleFormControlSelect2">
                                            <option value="">Selecionar</option>
                                            <option>text</option>
                                            <option>email</option>
                                            <option>number</option>
                                            <option>textarea</option>
                                          </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-save-form">Adicionar</button>
                </div>
            </form>
        </div>

        <!-- ================================ SEÇÃO CAMPOS ================================ -->
        <div class="card card-edit">
            <h5>Campos</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-check">
                                    <input type="checkbox">
                                </div>
                            </th>
                            <th scope="col">Label</th>
                            <th scope="col">Tipo de campo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox">
                                </div>
                            </td>
                            <td>Nome</td>
                            <td>text</td>
                            <td>
                                <a href="#"><i class="icon-delete" tooltip="Excluir"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox">
                                </div>
                            </td>
                            <td>Telefone</td>
                            <td>text</td>
                            <td>
                                <a href="#"><i class="icon-delete" tooltip="Excluir"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox">
                                </div>
                            </td>
                            <td>E-mail</td>
                            <td>email</td>
                            <td>
                                <a href="#"><i class="icon-delete" tooltip="Excluir"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox">
                                </div>
                            </td>
                            <td>mensagem</td>
                            <td>textarea</td>
                            <td>
                                <a href="#"><i class="icon-delete" tooltip="Excluir"></i></a>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

        <!-- ================================ SEÇÃO CONTATOS ================================ -->
        <div class="card card-edit">
            <form class="form-contacts">
                <h5>Seção: Contatos</h5>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="title-card">
                                <p>Telefone</p>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="qtd1">Título</label>
                                    <input type="number" class="form-control" id="qtd1">
                                </div>
                                <div class="form-group">
                                    <label for="text1">Número</label>
                                    <input type="text" class="form-control" id="text1">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="title-card">
                                <p>E-mail</p>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="qtd2">Título</label>
                                    <input type="number" class="form-control" id="qtd2">
                                </div>
                                <div class="form-group">
                                    <label for="text2">E-mail</label>
                                    <input type="text" class="form-control" id="text2">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="title-card">
                                <p>Endereço</p>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="qtd3">Título</label>
                                    <input type="number" class="form-control" id="qtd3">
                                </div>
                                <div class="form-group">
                                    <label for="text3">Endereço</label>
                                    <input type="text" class="form-control" id="text3">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="title-card">
                                <p>Horário</p>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="qtd4">Título</label>
                                    <input type="number" class="form-control" id="qtd4">
                                </div>
                                <div class="form-group">
                                    <label for="text4">Descrição</label>
                                    <input type="text" class="form-control" id="text4">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-save-form">Salvar</button>
                </div>
            </form>
        </div>

        <!-- ================================ SEÇÃO MAPA ================================ -->
        <div class="card card-edit">
            <form class="form-contacts">
                <h5>Seção: Mapa</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="title-card">
                                <p>Link do mapa</p>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="qtd1">Link</label>
                                    <input type="text" class="form-control" id="qtd1">
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-save-form">Salvar</button>
                </div>
            </form>
        </div>

    </div>
</section>