@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import './assets/styles/owl-custom-styles.scss';
@import './assets/styles/loading-styles.scss';
@import './assets/styles/icons-svg-styles.scss';
@import './assets/styles/angular-editor-styles.scss';
@import './assets/boxicons-2.0.7/css/boxicons.min.css';
@import './assets/styles/theme-color.scss';
@import '~ngx-toastr/toastr';


.modal-all{
    &.modal-dialog{
        .content-modal{
            font-family: "Rubik", sans-serif;
            padding: 15px 0 15px;
        }
    }
}
.modal-add-user{
    &.modal-dialog{
        max-width: 700px;
    }
}
.no-home{
    header{
        background: var(--bg-secondary-color) !important;
    }
}
.pagination{
    justify-content: center;
    margin-top: 30px;
}
.page-item .page-link:focus{
	box-shadow: none;
}
.page-item .page-link, .page-link:hover{
	color: var(--bg-primary-color);
}
.page-item.active .page-link{
	background-color: var(--bg-primary-color);
	border-color: var(--bg-primary-color);
}