<section>
    <div class="content-comments">
        <div class="header-comments">
            <div class="wrap">
                <h4>Comentários</h4>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar comentário" [(ngModel)]="term">
                <i class="icon-search"></i>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="form-check">
                                <input type="checkbox">
                            </div>
                        </th>
                        <th scope="col">Autor</th>
                        <th scope="col">Comentário</th>
                        <th scope="col">Post</th>
                        <th scope="col">Enviado em</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let p of (posts$ | async) | filter:term">
                        <ng-container *ngFor="let c of p.comments; let i = index">
                            <tr *ngIf="p.comments.length > 0" [ngClass]="{'bg-red': c.status == 'Reject'}">
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox">
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap-user">
                                        <i class="icon-person"></i>
                                        <div>
                                            <p>{{c.name}}</p>
                                            <a href="#">{{c.email}}</a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{c.comment}}</td>
                                <td><a href="#">{{p.titlePost}}</a></td>
                                <td>
                                    <span *ngIf="c.commentDate.toDate()">
                                        {{c.commentDate?.toDate() | date: 'dd/MM/yyyy'}} às 
                                        {{c.commentDate?.toDate() | date: 'HH:mm'}}
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" (click)="toggleStatus(i, p)">
                                        <i [ngClass]="c.status == 'Reject' ? 'icon-approve' : 'icon-reject'" 
                                        tooltip="{{c.status == 'Reject' ? 'Aprovar' : 'Rejeitar'}}">
                                        </i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="openModalResponse(p)">
                                        <i class="icon-response" tooltip="Responder"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="openModalEdit(i, p)">
                                        <i class="icon-edit" tooltip="Editar"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="deleteComment(i, p)">
                                        <i class="icon-delete" tooltip="Excluir"></i>
                                    </a>
                                </td>

                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>

            </table>

        </div>

    </div>
</section>